<div class="flex flex-col justify-start items-center">
  <div class="flex flex-col flex-wrap w-screen h-72">
    <div
      *ngIf="!!data"
      class="flex w-screen flex-col justify-start items-center"
    >
      <h1 class="my-2 font-sans text-3xl">{{ data.sys.country }}</h1>
      <h2 class="my-2">{{ data.name }}</h2>
    </div>
    <div
      *ngIf="!!data"
      class="flex w-screen flex-col justify-start items-center"
    >
      <img class="bg-[length:200px_100px]" [src]="iconURL" [alt]="data.name" />
      <h3 text-3xl font-bold underline>
        {{ data.main.temp - 273.15 | number }} Celsius
      </h3>
    </div>
  </div>
  <div id="map"></div>
</div>
